.practice-container {
  display: flex;
  justify-content: center; 
  align-items: flex-start;
  gap: 20px; 
  width: 100%;
}

.box {
  flex: 1;
  max-width: 300px; 
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.practice-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input,
select {
  padding: 10px; 
  border: 1px solid #007bff; 
  border-radius: 5px;
  background-color: #f0f8ff; 
  color: #333333; 
  font-size: 1em;
  transition: border-color 0.3s, box-shadow 0.3s; 
}


input:focus,
select:focus {
  border-color: #0056b3; 
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
  outline: none; 
}

button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
